@font-face {
    font-family: unifont;
    src: url(../fonts/unifont.otf);
}
@font-face {
    font-family: sentient;
    font-weight: bold;
    src: url(../fonts/Sentient-Bold.otf);
}
@font-face {
	font-family: notoemoji;
	src: url(../fonts/notoemoji.ttf);
}
@font-face {
    font-family: unifont-upper;
    src: url(../fonts/unifont-upper.otf);
}

body {
    background-color: #d8e3ed;
    color: #444f5d;
    max-width: 800px;
    height: 100%;
    margin: auto;
    padding: 10px 20px ;
    margin-top: 20px;
    margin-bottom: 20px;
}

#chat-window {
	height: 200px;
	max-width: 405px;
	margin-bottom: 3px;
	background-color: #ffffff;
	border: 1px solid #767676;
	border-radius: 2.5px;
	overflow-y: scroll;     /* 内容多了可以滚动 */
    padding: 20px;
    box-sizing: border-box;
    font-variant-emoji: text;
    font-family: 'unifont', 'notoemoji', 'unifont-upper';
    font-size: 14px;
}

.message {
    margin-bottom: 5px;
    padding: 0px 0px;
}

.system-msg {
    color: #888;
    font-size: 0.9em;
    background: none;
    box-shadow: none;
    text-align: center;
    width: 100%;
}

button {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    color: #444f5d;
    width: 44px;
  	flex-shrink: 0;
}

form {
	display: flex;
	gap: 3px;
	max-width: 405px;
	width: 100%;
	box-sizing: border-box;
}

input[type="text"] {
    font-family: 'unifont', 'notoemoji', 'unifont-upper';
    font-size: 14px;
    color: #444f5d;
	flex: 1;
	min-width: 0;
	font-variant-emoji: text;
}

.title-Index {
    font-family: 'sentient';
    font-weight: bold;
    font-size: 16px;
    color: #444f5d;
}


.title {
    font-family: 'unifont', sans-serif;
    font-size: 16px;
    color: #444f5d;
}

p {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    color: #444f5d;
    line-height: 2;
    text-align: justify;
}


.novel {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    color: #444f5d;
    line-height: 2;
}

.textbox {
    background-color: #ced9e3;
}


pre code {
    display: block;
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    color: #444f5d;
    line-height: 2;
    background-color: #ced9e3;
    padding: 10px;
    overflow-x: auto;
    white-space: pre;
    scrollbar-width: 5px;
    scrollbar-color: #b5c0ce #ced9e3;
}

p.highlight {
    background-color: #b7c2d0;
    line-height: 1.6;
}

html {
    background-color: #d8e3ed;
}

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    color: #444f5d;
}

a:hover {
    background-color: #444f5d;
    color: #d8e3ed;
}

::selection {
    background-color: #444f5d;
    color: #d8e3ed;
}


.copyright {
    font-family: 'unifont', sans-serif;
    font-size: 12px;
    color: #444f5d;
    line-height: 1;
}


.index {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    line-height: 1.8;
}

@media (max-width: 800px) {
    body {
        padding: 10px;
        margin: 20px 5px 5px 10px;
    }
}


.date {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    text-align: right;
    margin-right: 10px;
    margin-top: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navbox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.pagesEntrance {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    color: #444f5d;
    line-height: 2;
}


.legacyEntrance {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    text-align: right;
    line-height: 2;
}



li {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.pics {
    width: 100%;
    height: auto;
}


.back {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 15px;
}
