/* style CSS */

@font-face {
	font-family: notoemoji;
	src: url(../fonts/notoemoji.ttf);
 unicode-range: 
    U+200D,
    U+20E3,
    U+2190-21FF, /*arrows*/
    U+2600-26FF, /*杂项符号*/
    U+2700-27AF, /*装饰符号*/
    U+25A0-25FF, /*几何*/

    U+2300-23FF, /* ⌚ ⏩ 等 */
    U+24C2,      /* Ⓜ */
    U+2934-2935, /* ⤴ ⤵ */
    U+2B00-2BFF, /* ⚫ ⚪ ⭐ ⬛ ⬜ */

    /* 辅助平面 Astral Planes */
    U+1F000-10FFFF; 
}

@font-face {
    font-family: unifont-upper;
    src: url(../fonts/unifont-upper.otf);
}

#chat-window {
	height: 200px;
	width: clamp(200px, 100%, 405px);
	margin-bottom: 3px;
	background-color: var(--chat-bg-color);
	border: 1px solid var(--border-color);
	border-radius: 3px;
	overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 20px;
    box-sizing: border-box;
    font-variant-emoji: text;
    font-family: 'notoemoji', 'unifont', 'unifont-upper';
    font-size: 14px;
}

#room-list {
    height: 224px;
    width: 105px;
    min-width: 105px;
    background-color: var(--chat-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 6px 5px 5px 5px;
    box-sizing: border-box;
    font-variant-emoji: text;
    font-family: 'unifont', 'unifont-upper';
    font-size: 14px;
}

.room-item {
    display: block;
    height: 23px;
    line-height: 20px;
    padding: 0px 4px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.room-item:hover {
    background-color: var(--msg-bg-color);
}

.room-item.active {
    background-color: var(--msg-bg-color);
    border: 1px solid var(--border-color);
}

.message {
    margin-bottom: 5px;
    padding: 0px 0px;
}

#retryButton {
    font-family: 'unifont', sans-serif;
    font-size: 12px;
    margin-left: 10px;
    text-decoration: none;
    display: none;
}

#reloadButton {
    font-family: 'unifont', sans-serif;
    font-size: 12px;
    margin-left: 10px;
    text-decoration: none;
    display: none;
}

button {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--button-color);
    border: 1px solid var(--border-color);
	border-radius: 3px;
    width: 44px;
    height: 21px;
  	flex-shrink: 0;
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
}

button:active {
    background-color: var(--button-active-color);
}

form {
	display: flex;
	gap: 3px;
	width: clamp(200px, 100%, 405px);
	box-sizing: border-box;
}

input[type="text"] {
    font-family: 'notoemoji', 'unifont', 'unifont-upper';
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--chat-bg-color);
    border: 1px solid var(--border-color);
	border-radius: 3px;
    height: 21px;
    box-sizing: border-box;
    padding: 1px 5px;
	flex: 1;
	min-width: 0;
	font-variant-emoji: text;
}

input:focus {
    outline: none;
}

.connection-status {
    font-family: 'unifont', sans-serif;
    font-size: 12px;
    color: var(--border-color);
    text-align: left;
}