/* style CSS */

@font-face {
	font-family: notoemoji;
	src: url(../fonts/notoemoji.ttf);
 unicode-range: 
    U+200D,
    U+20E3,
    U+2190-21FF, /*arrows*/
    U+2600-26FF, /*杂项符号*/
    U+2700-27AF, /*装饰符号*/
    U+25A0-25FF, /*几何*/

    U+2300-23FF, /* ⌚ ⏩ 等 */
    U+24C2,      /* Ⓜ */
    U+2934-2935, /* ⤴ ⤵ */
    U+2B00-2BFF, /* ⚫ ⚪ ⭐ ⬛ ⬜ */

    /* 辅助平面 Astral Planes */
    U+1F000-10FFFF; 
}

@font-face {
    font-family: unifont-upper;
    src: url(../fonts/unifont-upper.otf);
}

:root {
    --bg-color: #d8e3ed;
    --chat-bg-color: #eff3f7;
    --popup-bg-color: rgba(255, 255, 255, 0.5);
    --border-color: #808ea1;
    --text-color: #444f5d;
    --highlight-color: #b7c2d0;
    --pre-code-color: #ced9e3;
    --button-color: #f4f7f9;
    --button-hover-color: #ecf1f4;
    --button-active-color: #dee4e8;
    --msg-bg-color: #e1eaf1;
    --connection-green: #377e22;
    --connection-red: #ea3323;
    --my-nom-color: #5d8dc7;
    --admin-nom-color: #d79a40;
    --nom-color: #d868a3;
}
[data-theme="dark"] {
    --bg-color: #242931;
    --chat-bg-color: #2e3640;
    --popup-bg-color: rgba(46, 54, 64, 0.5);
    --border-color: #555c68;
    --text-color: #e9f0f5;
    --highlight-color: #444f5d;
    --pre-code-color: #2e3640;
    --button-color: #2e3640;
    --button-hover-color: #444f5d;
    --button-active-color: #39424e;
    --msg-bg-color: #444f5d;
    --connection-green: #A7D3A6;
    --connection-red: #D67A85;
    --my-nom-color: #A7C6EC;
    --admin-nom-color: #F9E1BD; /* #C5E4C0 */
    --nom-color: #E8A5C8;
}
[data-theme="mono"] {
    --bg-color: #ffffff;
    --chat-bg-color: #ffffff;
    --popup-bg-color: #ffffff;
    --border-color: #777777;
    --text-color: #000000;
    --highlight-color: #cccccc;
    --pre-code-color: #dddddd;
    --button-color: #ffffff;
    --button-hover-color: #ffffff;
    --button-active-color: #eeeeee;
    --msg-bg-color: #ffffff;
    --connection-green: #000000;
    --connection-red: #000000;
    --my-nom-color: #000000;
    --admin-nom-color: #000000;
    --nom-color: #000000;
}

#chat-window {
	height: 200px;
	width: clamp(200px, 100%, 405px);
	margin-bottom: 3px;
	background-color: var(--chat-bg-color);
	border: 1px solid var(--border-color);
	border-radius: 3px;
	overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 20px;
    box-sizing: border-box;
    font-variant-emoji: text;
    font-family: 'notoemoji', 'unifont', 'unifont-upper';
    font-size: 14px;
}

#room-list {
    height: 224px;
    width: 105px;
    min-width: 105px;
    background-color: var(--chat-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 6px 5px 5px 5px;
    box-sizing: border-box;
    font-variant-emoji: text;
    font-family: 'unifont', 'unifont-upper';
    font-size: 14px;
}

.room-item {
    display: block;
    height: 23px;
    line-height: 20px;
    padding: 0px 4px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.room-item:hover {
    background-color: var(--msg-bg-color);
}

.room-item.active {
    background-color: var(--msg-bg-color);
    border: 1px solid var(--border-color);
}

.message {
    margin-bottom: 5px;
    padding: 0px 0px;
}

#retryButton {
    font-family: 'unifont', sans-serif;
    font-size: 12px;
    margin-left: 10px;
    text-decoration: none;
    display: none;
}

#reloadButton {
    font-family: 'unifont', sans-serif;
    font-size: 12px;
    margin-left: 10px;
    text-decoration: none;
    display: none;
}

button {
    font-family: 'unifont', sans-serif;
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--button-color);
    border: 1px solid var(--border-color);
	border-radius: 3px;
    width: 44px;
    height: 21px;
  	flex-shrink: 0;
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
}

button:active {
    background-color: var(--button-active-color);
}

form {
	display: flex;
	gap: 3px;
	width: clamp(200px, 100%, 405px);
	box-sizing: border-box;
}

input[type="text"] {
    font-family: 'notoemoji', 'unifont', 'unifont-upper';
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--chat-bg-color);
    border: 1px solid var(--border-color);
	border-radius: 3px;
    height: 21px;
    box-sizing: border-box;
    padding: 1px 5px;
	flex: 1;
	min-width: 0;
	font-variant-emoji: text;
}

input:focus {
    outline: none;
}

.connection-status {
    font-family: 'unifont', sans-serif;
    font-size: 12px;
    color: var(--border-color);
    text-align: left;
}